@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("fonts/Roboto-Regular.woff");
}

html {
  background-color: #fdfdfd;
}

body {
  display: flex;
  height: 90vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

main {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 1rem;

  text-align: center;
  color: #3d3d3d;
  letter-spacing: 0.5px;
}

.sapling {
  margin-top: auto;
  fill: #3d3d3d;
  width: 2rem;
}

.logo {
  margin: 0.75rem 0 1rem;
}

p {
  margin: 0 0 1.5rem;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  padding: 0 1.5rem 0 0.5rem;

  border-radius: 1.5rem;
  background-color: #f1f8fd;
  color: #3d3d3d;

  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #179cde;
  color: #f1f8fd;
  outline: none;
}

.btn:active {
  opacity: 0.9;
}

.telegram {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.tg-plane {
  fill: #f1f8fd;
}
.tg-fold-inner {
  fill: #c8daea;
}
.tg-fold-outer {
  fill: #a9c9dd;
}
.tg-blue {
  fill: #179cde;
}

.toggle {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: #127bab;
  transition-property: color, text-decoration;
  transition-duration: 0.3s;
  position: fixed;
  bottom: 0.5rem;
}

.toggle:hover,
.toggle:focus {
  color: #179cde;
  text-decoration: underline;
  outline: none;
}

.toggle:active {
  color: #a9c9dd;
}
