$link: hsl(201, 100%, 36%);
$linkDarken1: hsl(214, 97%, 27%);
$linkDarken2: hsl(239, 94%, 19%);
$accent: hsl(350, 96%, 43%);
$accentLighten: hsl(353, 86%, 54%);
$grey: hsl(218, 17%, 62%);
$greyLighten: hsl(197, 24%, 94%);
